/*Estilos Gerais do Projeto*/
*{
    color:#37474F;
}

a,i{
    transition: .5s;
    text-decoration: none;
}

.secondary-color{
    color:#555;
}

.center-image{
    background-size: cover;
    background-position: center;
}

.btn{
    text-decoration: none;
    background-color: #25282e;
    color:#fff;
    padding: 7px 18px;
    border-radius: 0;
}

.btn:hover{
    background-color: #333;
    color:#fff;
}

#vanta-canvas{
    width: 100vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgb(134, 134, 134);
}

#vanta-canvas h1{
    padding: 20px; 
    font-size: 10rem;
    font-weight: bold;
    font-family: 'Passions Conflict', cursive;
    box-shadow: 3px 3px #545454, -1em 0 0.5em rgb(56, 56, 56);  
}

#header{
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

#header p{
    margin-bottom: 0;
}

#logo-container{
    display: flex;
    justify-content: center;
}

#logo{

    width: 50px;
    margin-right: 25px;
}

#navbar{
    padding: 10px;
    margin: 10px auto;
}
#navbar a{
    width: 100px;
    color: #444;
 
}

#navbar a:hover{
    color: rgb(0, 119, 255);
    letter-spacing: 0.1rem;
}